<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.harman.meeting_management.mapper.MeetingRUserMapper" >
  <resultMap id="BaseResultMap" type="com.harman.meeting_management.entity.MeetingRUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="meeting_id" property="meetingId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, meeting_id, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from meetingruser
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from meetingruser
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.harman.meeting_management.entity.MeetingRUser" >
    insert into meetingruser (id, meeting_id, user_id
      )
    values (#{id,jdbcType=BIGINT}, #{meetingId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.harman.meeting_management.entity.MeetingRUser" >
    insert into meetingruser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="meetingId != null" >
        meeting_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="meetingId != null" >
        #{meetingId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.harman.meeting_management.entity.MeetingRUser" >
    update meetingruser
    <set >
      <if test="meetingId != null" >
        meeting_id = #{meetingId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.harman.meeting_management.entity.MeetingRUser" >
    update meetingruser
    set meeting_id = #{meetingId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insertArrUserId" parameterType="java.lang.Object">
    insert into meetingruser (meeting_id, user_id)
    values
    <foreach collection ="uIds" item="userId" index= "index" separator =",">
      (#{meetingId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT})
    </foreach>
  </insert>

</mapper>