<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.harman.meeting_management.mapper.MeetingMapper" >
  <resultMap id="BaseResultMap" type="com.harman.meeting_management.entity.Meeting" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="meeting_name" property="meetingName" jdbcType="VARCHAR" />
    <result column="room_id" property="roomId" jdbcType="BIGINT" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="reserve_time" property="reserveTime" jdbcType="TIMESTAMP" />
    <result column="canceled_time" property="canceledTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.harman.meeting_management.entity.MeetingWithBLOBs" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="canceled_reason" property="canceledReason" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, meeting_name, room_id, start_time, end_time, reserve_time, canceled_time, status
  </sql>
  <sql id="Blob_Column_List" >
    description, canceled_reason
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from meeting
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from meeting
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.harman.meeting_management.entity.MeetingWithBLOBs" >
    insert into meeting (id, meeting_name, room_id, 
      start_time, end_time, reserve_time, 
      canceled_time, status, description, 
      canceled_reason)
    values (#{id,jdbcType=BIGINT}, #{meetingName,jdbcType=VARCHAR}, #{roomId,jdbcType=BIGINT}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{reserveTime,jdbcType=TIMESTAMP}, 
      #{canceledTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{description,jdbcType=LONGVARCHAR}, 
      #{canceledReason,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.harman.meeting_management.entity.MeetingWithBLOBs" >
    insert into meeting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="meetingName != null" >
        meeting_name,
      </if>
      <if test="roomId != null" >
        room_id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="reserveTime != null" >
        reserve_time,
      </if>
      <if test="canceledTime != null" >
        canceled_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="canceledReason != null" >
        canceled_reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="meetingName != null" >
        #{meetingName,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserveTime != null" >
        #{reserveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="canceledTime != null" >
        #{canceledTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="canceledReason != null" >
        #{canceledReason,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.harman.meeting_management.entity.MeetingWithBLOBs" >
    update meeting
    <set >
      <if test="meetingName != null" >
        meeting_name = #{meetingName,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null" >
        room_id = #{roomId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserveTime != null" >
        reserve_time = #{reserveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="canceledTime != null" >
        canceled_time = #{canceledTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="canceledReason != null" >
        canceled_reason = #{canceledReason,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.harman.meeting_management.entity.MeetingWithBLOBs" >
    update meeting
    set meeting_name = #{meetingName,jdbcType=VARCHAR},
      room_id = #{roomId,jdbcType=BIGINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      reserve_time = #{reserveTime,jdbcType=TIMESTAMP},
      canceled_time = #{canceledTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR},
      canceled_reason = #{canceledReason,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.harman.meeting_management.entity.Meeting" >
    update meeting
    set meeting_name = #{meetingName,jdbcType=VARCHAR},
      room_id = #{roomId,jdbcType=BIGINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      reserve_time = #{reserveTime,jdbcType=TIMESTAMP},
      canceled_time = #{canceledTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>